
	body {
		margin: 0;
		padding: 0;
		font-family: Arial, Helvetica, sans-serif;
	}

	h1 {
		color: green;
	}

	h1,
	h3 {
		text-align: center;
	}

	ul {
		margin: 0 20%;
		padding: 10px 100px;
		display: flex;
		background: green;
	}

	ul li {
		list-style: none;
		padding: 10px 20px;

	}

	ul li a {
		text-decoration: none;
		font-size: 24px;
		font-weight: bold;
		color: black;
		position: relative;
	}

	ul li a::before {
		content: "";
		width: 0px;
		height: 10px;
		background: black;
		position: absolute;
		top: 100%;
		left: 0;
		transition: .5s;
	}

	ul li a:hover::before {
		width: 50%;
		transform: translateX(100%);
	}

